apiVersion: v2
name: rudderstack
description: A Helm chart for Kubernetes
type: application
version: 0.4.9
appVersion: 1.16.0
maintainers:
  - name: Swayam
    email: swayam.arora@livspace.com
dependencies:
  - name: transformer
    repository: file://subcharts/transformer
    version: 0.1.0
    condition: transformer.enabled
  - name: postgresql
    repository: file://subcharts/postgresql
    version: 7.7.2
    condition: postgresql.isK8Sdb
