# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
podLabels: {}
image:
  repository: livcr.io/oryd/hydra
  tag: v1.0.0-rc.10
  pullPolicy: IfNotPresent
init:
  command: ["hydra"]
  args:
  - "migrate"
  - "sql"
  - "$(MIGRATE_DATABASE_URL)"
  - "--yes"
run:
  command: ["hydra"]
  args:
  - "serve"
  - "all"
  - "--skip-tls-verify"
service:
  name: auth
  type: ClusterIP
  externalPort: 80
  internalPort: 4444
  gateway:
    enabled: true
    routes:
      api: {}
  annotations: {}
adminService:
  name: hydra
  type: ClusterIP
  externalPort: 80
  internalPort: 4445
  gateway:
    enabled: true
    routes:
      api: {}
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
probePath: /health/alive
livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
terminationGracePeriodSeconds: 10

# -- PodDistributionBudget configuration
pdb:
  enabled: false
  spec:
    minAvailable: 1

ingress:
  enabled: false
  hosts:
    - host: hydra.proxy.local
      paths: ["/"]
  tls:
    - secretName: hydra-tls
      hosts:
        - hydra.proxy.local

env:
  enabled: false
  values:
  - name: LOG_LEVEL
    value: info

config:
  enabled: false
  mountPath: /etc/hydra
  files:
    config.yaml: |-
      profiling:                      No

## -- Janitor cron job configuration
janitor:
  enabled: false
  cleanupGrants: false
  cleanupRequests: false
  cleanupTokens: false
#  accessLifespan: "24h"
#  consentRequestLifespan: "24h"
#  refreshLifespan: "720h"
#  keepIfYounger: "360h"
  batchSize: 100
  limit: 10000

# -- CronJob configuration
cronjob:
  janitor:
    schedule: "0 */1 * * *"
    # -- Configure the arguments of the entrypoint, overriding the default value
    customArgs: []
    annotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    securityContext:
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 100
      allowPrivilegeEscalation: false
      privileged: false
    podSecurityContext: {}
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi

