apiVersion: v1
kind: Service
metadata:
  name: {{ template "caddy.servicename" . }}
  labels:
    {{- include "caddy.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if has .Values.service.type (list "LoadBalancer" "NodePort") }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy | default "Cluster" }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  {{- if .Values.https.enabled }}
    - name: https
      targetPort: https
      protocol: TCP
      port: {{ .Values.https.port }}
  {{- end }}
  selector:
    {{- include "caddy.selectorLabels" . | nindent 4 }}