apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    draft: {{ default "draft-app" .Values.draft }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}
  template:
    metadata:
      labels:
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | indent 8 }}
{{- end }}
        draft: {{ default "draft-app" .Values.draft }}
        app: {{ template "fullname" . }}
{{- if .Values.podAnnotations }}
      annotations:
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
    spec:
{{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
{{- end  }}
      initContainers:
{{- if .Values.init }}
      - name: {{ .Chart.Name }}-init
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{ toYaml .Values.init | indent 8 -}}
        {{- if .Values.env.enabled }}
        env:
{{ toYaml .Values.env.values | indent 8 -}}
        {{- end }}
        {{- if .Values.config.enabled }}
        volumeMounts:
        - mountPath: {{ .Values.config.mountPath }}
          name: {{ template "fullname" . }}
        {{- end }}
{{- end }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- if .Values.run }}
{{ toYaml .Values.run | indent 8 -}}
{{- end }}
{{- if .Values.env.enabled }}
        env:
{{ toYaml .Values.env.values | indent 8 -}}
{{- end }}
        ports:
        - containerPort: {{ .Values.service.internalPort }}
          name: http
        - containerPort: {{ .Values.adminService.internalPort }}
          name: http-admin
        livenessProbe:
          httpGet:
            path: {{ .Values.probePath }}
            port: {{ .Values.service.internalPort }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
        readinessProbe:
          httpGet:
            path: {{ .Values.probePath }}
            port: {{ .Values.service.internalPort }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
        {{- if .Values.config.enabled }}
        volumeMounts:
        - mountPath: {{ .Values.config.mountPath }}
          name: {{ template "fullname" . }}
        {{- end }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{ if .Values.config.enabled -}}
      volumes:
      - name: {{ template "fullname" . }}
        configMap:
          name: {{ template "fullname" . }}
      {{- end }}
      
