{{- if .Values.externalSecretsv2.enabled }}

{{- $environment := ((.Values.global).environment) | default (.Release.Namespace | regexFind "^(prod|staging|stage)" | default "prod") }}

{{- $system := ((.Values.global).system) | default .Values.system | default ((.Values.podLabels).system) | default "core" }}

{{- $application := ((.Values.global).application) | default .Values.application | default .Release.Name }}

{{- $secretStore := eq $environment "prod" | ternary "gcpsm-prod" "gcpsm-staging" }}

{{- range .Values.externalSecretsv2.secrets }}

{{- $secretName := .name }}
{{- $secretPath := printf "%s-%s-%s-%s" $environment $system $application $secretName }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $application }}-{{ $secretName }}-secret
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "application.labels" $ | nindent 4 }}
    secret-management.livspace.com/version: v2
    secret-management.livspace.com/environment: {{ $environment }}
    secret-management.livspace.com/system: {{ $system }}
    secret-management.livspace.com/application: {{ $application }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ $secretStore }}
    kind: ClusterSecretStore
  target:
    name: {{ $application }}-{{ $secretName }}-secret
    creationPolicy: Owner
  {{- if eq (.format | default "keyvalue") "string" }}
  data:
  - secretKey: value
    remoteRef:
      key: {{ $secretPath }}
  {{- else }}
  dataFrom:
  - extract:
      key: {{ $secretPath }}
  {{- end }}

{{- end }}
{{- end }}
